<h1>Getting Started with Ruby</h1>

<p>
  Welcome!
</p>

<pre>
	<%= Cowsay.say("Hello") %>
</pre>

<% for i in 0..(ENV['TIMES'] ? ENV['TIMES'].to_i : 2) do %>
  <p>Hello World #<%= i %>!</p>
<% end %>